<h1 mat-dialog-title>Edit User</h1>
<div mat-dialog-content [formGroup]="form">
  <mat-form-field appearance="fill">
    <mat-label>Full Name</mat-label>
    <input matInput formControlName="name" cdkFocusInitial>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Role</mat-label>
    <mat-select formControlName="role">
        <mat-option *ngFor="let role of roles" [value]="role">
            {{ role }}
        </mat-option>
    </mat-select>
  </mat-form-field>
  
  <!-- This field only shows if the selected role is 'Student' -->
  <mat-form-field *ngIf="isStudent" appearance="fill">
    <mat-label>Assign Grade</mat-label>
    <mat-select formControlName="gradeId">
        <mat-option [value]="null">-- Unassigned --</mat-option>
        <mat-option *ngFor="let grade of grades$ | async" [value]="grade._id">
            {{ grade.name }}
        </mat-option>
    </mat-select>
  </mat-form-field>

</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-flat-button color="primary" (click)="onSave()" [disabled]="form.invalid">Save</button>
</div>